/* bgscore.css ---------------------------------------------- */
/* designed by (C)hinacoppy 2019 -- 2022                      */

/* document outline ----------------------------------------- */
*{
  user-select:none;
}
html{
  height:100vh;
  overflow:hidden;
  overscroll-behavior:none; /* バウンススクロールを抑止(only for Android) */
  height:-webkit-fill-available; /* iOSで100%表示されない事態を回避 */
}
body{
  margin:0;
  padding:0;
  min-height:100vh;
  height:100vh;
  height:-webkit-fill-available;
  background-color:#efe;
  font-family:'Arial', 'Meiryo UI';
}
/* Grid Layout settings ------------------------------------- */
/* 以下すべて相対サイズにし、レスポンシブ対応可能にしておく */
#mainwindow{
  display:grid; /* Grid Layout でコンテンツを配置 */
  grid-template-columns:40% 20% 40%;
  grid-template-rows:40vh 40vh 15vh; /* ボタン下に隙間を空けるため、敢えて100vhにしない */
  grid-template-areas:
     'score1 matchinfo    score2'
     'score1 crawfordinfo score2'
     'score1 settingbtn   score2';
  align-items:center; /* 子アイテムはデフォで上下左右に中央揃え */
  justify-items:center;
  padding:1vh 1vw;
}
#score1{
  grid-area:score1;
}
#score2{
  grid-area:score2;
}
#matchinfo{
  grid-area:matchinfo;
}
#crawfordinfo{
  grid-area:crawfordinfo;
}
#settingbtn{
  grid-area:settingbtn;
}
/* Contents decorations ------------------------------------- */
#matchinfo {
  width:18vw;
  height:30vh;
  line-height:30vh;
  text-align:center;
  font-size:10vw;
  border-radius:20px;
  background-color:#dfa;
}
#crawfordinfo {
  margin-top:5vh;
  height:30vh;
  font-size:3vw;
  text-align:center;
}
.oparationbtn{
  background-color:#adf;
  border:3px solid #29f;
  color:#29f;
  border-radius:20px;
  padding:2vh 2vw;
  font-size:2vw;
}
/* Flip Card styles ------------------------------------- */
.cardcontainer {
  position:relative;
  width:38vw;
  height:96vh;
}
.card {
  position:absolute;
  width:38vw;
  height:96vh;
  line-height:96vh;
  border-radius:30px;
  text-align:center;
  font-size:25vw;
  background-color:#ddf;
  transform-style:preserve-3d;
}
.curr {
  transform:perspective(1500px) rotateX(0deg);
}
.next {
  transform:perspective(1500px) rotateX(90deg);
  display:none;
}
.prev {
  transform:perspective(1500px) rotateX(-90deg);
}
.flipup90 {
  transform:perspective(1500px) rotateX(-90deg);
  transition:ease-out 0.3s transform;
}
.flipdn90 {
  transform:perspective(1500px) rotateX(90deg);
  transition:ease-out 0.3s transform;
}
.flipdn0 {
  transform:perspective(1500px) rotateX(0deg);
  transition:ease-out 0.3s transform;
}
.flipup0 {
  transform:perspective(1500px) rotateX(0deg);
  transition:ease-out 0.3s transform;
}
/* Setting Window Flip settings ------------------------------------- */
.mainwin{
  transform-style:preserve-3d;
  transform:perspective(1500px) rotateY(0deg);
  transition:ease-out 0.3s transform;
}
.setting{
  transform-style:preserve-3d;
  transform:perspective(1500px) rotateY(90deg);
  transition:ease-out 0.3s transform;
}
.fliphoriz90 {
  transform:perspective(1500px) rotateY(-90deg);
  transition:ease-out 0.3s transform;
}
.fliphoriz0 {
  transform:perspective(1500px) rotateY(0deg);
  transition:ease-out 0.3s transform;
}
/* Setting Window decorations ------------------------------------- */
#settingwindow{
  position:absolute;
  font-size:2vw;
  background-color:#dff;
  border:3px solid #00f;
  text-align:center;
  margin:2vh 5vw;
  padding:2vh 2vw;
  display:none;
}
#settingwindow select{
  font-size:100%;
  padding:0 0.3vw;
  margin:0 1vw;
  text-align:center;
  /*appearance:none;*/
}
.settingtitle{
  font-size:2.2vw;
  padding:2vh 2vw;
  color:#fff;
  background-color:#29f;
}
