/* bgscore.css ---------------------------------------------- */
/* designed by (C)hinacoppy 2019 -- 2024                      */

/* document outline ----------------------------------------- */
*{
  user-select:none;
}
input,select{
  font-size:100%;
}
html{
  height:100vmin;
  overflow:hidden;
  overscroll-behavior:none; /* バウンススクロールを抑止 */
}
body{
  margin:0;
  padding:0;
  min-height:100vmin;
  height:100vmin;
  font-family:'Arial', 'Meiryo UI';
  background-color:#efe;
}
.article{
  /* 子要素(設定画面)を水平・垂直方向の中央揃え */
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}
@media screen and (orientation:portrait) {
.article{ /* 縦画面の時は横向きに表示し、横画面にするよう促す */
  width:100vh;
  height:100vw;
  margin:-100vw 0 100vh;
  transform:rotate(90deg);
  transform-origin:left bottom;
}}

/* Grid Layout settings ------------------------------------- */
/* 横画面基準の相対サイズにし、レスポンシブ対応可能にしておく */
#mainwindow{
  display:grid; /* Grid Layout でコンテンツを配置 */
  grid-template-columns:40vmax 20vmax 40vmax;
  grid-template-rows:40vmin 40vmin 20vmin;
  grid-template-areas:
     'score1 matchinfo    score2'
     'score1 crawfordinfo score2'
     'score1 settingbtn   score2';
  align-items:center; /* 子アイテムはデフォで上下左右に中央揃え */
  justify-items:center;
}
#score1{
  grid-area:score1;
}
#score2{
  grid-area:score2;
}
#matchinfo{
  grid-area:matchinfo;
}
#crawfordinfo{
  grid-area:crawfordinfo;
  align-self:start; /* matchinfoに寄せて上詰め */
}
#settingbtn{
  grid-area:settingbtn;
  align-self:start; /* ボタン下に隙間を空けるため上詰め */
}
/* Contents decorations ------------------------------------- */
#matchinfo{
  width:18vmax;
  height:30vmin;
  line-height:30vmin;
  text-align:center;
  font-size:10vmax;
  border-radius:20px;
  background-color:#dfa;
}
#crawfordinfo{
  font-size:3vmax;
  text-align:center;
}
.oparationbtn{
  padding:2vmin 2vmax;
  font-size:2vmax;
  color:#29f;
  border:3px solid;
  border-radius:20px;
  background-color:#bef;
}
/* Flip Card styles ------------------------------------- */
.cardcontainer{
  width:38vmax;
  height:96vmin;
  display:flex;
  justify-content:center;
  align-items:center;
}
.card{
  position:absolute;
  width:38vmax;
  height:96vmin;
  line-height:96vmin;
  border-radius:30px;
  text-align:center;
  font-size:25vmax;
  background-color:#ddf;
  transform-style:preserve-3d;
}
.curr{
  transform:perspective(1500px) rotateX(0deg);
}
.next{
  transform:perspective(1500px) rotateX(90deg);
  display:none;
}
.prev{
  transform:perspective(1500px) rotateX(-90deg);
}
.flipup90{
  transform:perspective(1500px) rotateX(-90deg);
  transition:ease-out 0.3s transform;
}
.flipdn90{
  transform:perspective(1500px) rotateX(90deg);
  transition:ease-out 0.3s transform;
}
.flipdn0{
  transform:perspective(1500px) rotateX(0deg);
  transition:ease-out 0.3s transform;
}
.flipup0{
  transform:perspective(1500px) rotateX(0deg);
  transition:ease-out 0.3s transform;
}
/* Setting Window Flip settings ------------------------------------- */
.mainwin{
  transform-style:preserve-3d;
  transform:perspective(1500px) rotateY(0deg);
  transition:ease-out 0.3s transform;
}
.setting{
  transform-style:preserve-3d;
  transform:perspective(1500px) rotateY(90deg);
  transition:ease-out 0.3s transform;
}
.fliphoriz90{
  transform:perspective(1500px) rotateY(-90deg);
  transition:ease-out 0.3s transform;
}
.fliphoriz0{
  transform:perspective(1500px) rotateY(0deg);
  transition:ease-out 0.3s transform;
}
/* Setting Window decorations ------------------------------------- */
#settingwindow{
  position:absolute;
  top:0;
  margin-top:5vmin;
  padding:2vmin 2vmax;
  font-size:2vmax;
  text-align:center;
  border:3px solid #33f;
  background-color:#dff;
  display:none;
}
.settingtitle{
  padding:2vmin 2vmax;
  font-size:3vmax;
  color:#fff;
  background-color:#29f;
}
